<div class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow" style="margin-bottom: 0.5rem;">
    <div class="flex w-full items-center justify-between space-x-6 p-6">
    <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
        <%= link_to task.name, category_task_path(task.category_id, task.id), class: "font-bold no-underline" %>
        <span class="bg-purple-300 text-purple-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-blue-900 dark:text-blue-300">
            <%= task.status %>
        </span>
        </div>
    </div>
    <div class="flex items-center space-x-3"> 
        <%= link_to edit_category_task_path(task.category_id, task.id) do %>
        <i class="fas fa-edit text-blue-500"></i>
        <% end %>
        <%= link_to category_task_path(task.category, task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <i class="fa fa-trash text-red-500" aria-hidden="true"></i>
        <% end %>
    </div>
    </div>
</div>