<div class="mx-auto max-w-7xl px-4 py-12">
  <div class="mx-auto max-w-3xl">
    <div class="space-y-8 divide-y divide-gray-200">
        <div>
            <div>
                <h2><%= @task.category.name %></h2>
                <p class="text-lg font-medium leading-6 text-gray-500">This form updates a task.</p>
            </div>
        </div>
        <%= render 'form' %>
    </div>
  </div>
</div>
