<section class="h-screen overflow-hidden">
  <div class="h-full">
    <!-- Left column container with background-->
    <div class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
      <div class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12">
        <%= image_tag "landing-page-01.png", class: "w-full h-auto" %>
      </div>

      <!-- Right column container -->
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12 flex flex-col items-start">
        <h1 class="my-4 text-5xl md:text-5xl font-bold leading-tight text-center md:text-left">Your Journal for Life</h1>
        <p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left">Transform your life & evolve into the best version of yourself.</p>
        <%= link_to(new_user_registration_path, class: "no-underline select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-md font-bold text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20") do %>
            Get Bucket for free
            <i class="fa-solid fa-arrow-right"></i>
        <% end %>

      </div>
    </div>
  </div>
</section>
