<div class="relative">
    <div class="absolute -top-16 right-4 z-1">
        <%= image_tag "intro.png", class: "w-56" %>
    </div>
    <div class="p-5 bg-white">
        <h1 class="">Welcome to your Bucket <%= current_user.email %></h1>
        <%= link_to(new_category_path, class: "btn-main") do %>
            Create your Bucket
            <i class="fa-solid fa-arrow-right"></i>
        <% end %>
    </div>
</div>
