<div>
    <h1 class="">Welcome to your Bucket <%= current_user.email %></h1>
    <%= link_to(new_category_path, class: "no-underline select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-md font-bold text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20") do %>
    Create your Bucket
    <i class="fa-solid fa-arrow-right"></i>
    <% end %>
</div>
<%= image_tag "ppl-01.png", class: "w-36" %>