<div class="flex justify-center h-full">
  <div class="flex gap-9 mt-24 max-w-7xl w-full">
    
    <div class="w-full">
      <!-- intro message -->
      <div class="bg-white rounded-lg shadow flex px-4 items-center justify-between">
        <%= render 'intro' %>
      </div> 

      <!-- list of categories -->
      <%= render 'categories' %>
    </div>

    <div class="w-5/12">
      <!-- list of priorities -->
        <%= render 'priority' %>
    </div>

  </div> 
</div>
